# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Git
.git
.gitignore

# IDE
.idea
.vscode

# Testing
coverage
.nyc_output

# Environment
.env
.env.*

# Build output
dist
build

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
LICENSE
*.md

# Development
*.test.ts
*.spec.ts
test
tests